<%= simple_form_for [@release, @opinion], defaults: { label_html: { class: 'labels' } } do |f| %>
  <div class="container group in">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <%= f.input :heart, required: false, collection: 1..10, as: :radio_buttons  %>
      </div>
    </div>
    <%= f.button :submit, class: "btn btn-medium" %>
  </div>
<% end %>
