// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #3EA2F5;
$yellow: #efcc1c;
$orange: #E67E22;
$green: #286C80;
$gray: #dddbdb;
$light-gray: #F4F4F4;
$black: #333333;
$middle-gray: #ececec;
