<% if @artist.user == current_user %>
  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 bio">
    <% if @artist.bio.present? %>
      <div class="modal-trigger">
        <p data-toggle="modal" data-target="#bio"><%= @artist.bio.content %></p>
      </div>
    <% else %>
      <div class="modal-trigger" data-toggle="modal" data-target="#bio" style="color: white;">
      <i class="fa fa-history social-links icon bio"></i>
        Cliquez ici pour ajouter Biographie
      </div>
    <% end %>
  </div>
<% else %>
  <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 bio">
    <% if @artist.bio.present? %>
      <p><%= @artist.bio.content %></p>
    <% else %>
      <p>Rien à renseigner pour l'instant</p>
    <% end %>
  </div>
<% end %>

<div class="modal fade" id="bio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">Biographie</div>
        <div class="modal-body">
          <%= render 'bios/form', artist: @artist, bio: @bio%>
        </div>
      </div>
    </div>
  </div>
</div>
