<% if @artist.user == current_user %>
  <div id="messages">
    <% if @artist.messages.blank? %>
      <div class="quality">Vous n'avez pas encore de nouveaux messages pour <%= @artist.name %></div>
    <% else %>
      <div class="quality"><%= pluralize @artist.messages.size, "message" %></div>
      <% @artist.messages.each do |message| %>
        <%= render 'messages/show', message: message %>
      <% end %>
    <% end %>
  </div>

<% else %>

  <div class="quality send-message clickable" data-toggle="modal" data-target="#message">
    Cliquez ici pour envoyer un message
  </div>

<% end %>

<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="exampleModalLongTitle">message</div>
        <div class="modal-body">
          <%= render 'messages/form', artist: @artist, message: @message %>
        </div>
      </div>
    </div>
  </div>
</div>


