<div class="index-wallpapers">
  <div class="search">
    <%= render 'shared/artist_search' %>
  </div>
  <div class="index-page">
    <div class="container">
      <div class="row">
        <% if @artists.present? %>
          <% @artists.each do |a|%>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <div class="main">
                <div class="index-cards">
                  <%= render "artist", artist: a %><br>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= render 'shared/no_result' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>

