<div class="white"></div>
<div class="container search">
  <div class="page-title-search">
    MUSIC MATCH ARTISTES
  </div>
  <%= render 'shared/artist_search' %>
</div>
<div class="banner">
  <div class="banner-content">
    <!--section d'ensemble-->
    <div class="container items">
      <div class="row">
        <% if @artists.present? %>
          <% @artists.each do |a|%>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
              <div class="main">
                <div class="card">
                  <%= render "artist", artist: a %><br>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= render 'shared/no_result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

