<div class="page-title top">
  MODERN BOX ARTISTS
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/da2krghvd/image/upload/v1505755372/corey-blaz-5003_sp9w4e.jpg');">
  <div class="container banner-content">
    <% @artists.each do |artist|%>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="id-card">
          <%= link_to artist do %>
            <%= cl_image_tag artist.photo, height: 250, width: 250, crop: :fill, class: "id-pic img-responsive" %>
          <% end %>
          <%= artist.name %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="apple_pagination apple_pagination-fixed">
    <%= will_paginate @artists %>
  </div>
</div>


