<h1>Hey!</h1>

<p>
  Voilà qui fait bien plaisir <%= @user.first_name %> <%= @user.last_name %>, un nouvel arrivant dans la communauté
</p>
<br>
<p>
  Ne t'arrêtes surtout pas en si bon chemin et créé un profil artiste, asso ou salle pour figurer sur la rock_map
</p>
<p>
  Enfin, pas d'inquiétude le site est en perpétuelle évolution ... certains trucs sont à perfectionner mais, tu vas pas être déçu, surtout si on arrive à tous s'incrire...
</p>
<p>
  Alors, surtout, Partage au max
</p>
A bientôt J.K
