<p>Tcheeeeeeerzzz</p>
<p>Bienvenu(e) dans la modern box!</p>
<p>Tu vas pourvoir réseauter comme un malade!</p>
<p>Et surtout, faire connaitre ton univers!</p>
<p>Plus qu'un label rock, MBR c'est une platforme!</p>
