<%= simple_form_for [topic, comment], defaults: { label_html: { class: 'labels' } } do |f| %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 form">
    <%= f.input :content, required: false  %>
    <%= f.input :link, required: false  %>
    <%= f.button :submit, class: "btn btn-medium" %>
  </div>
<% end %>
