<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="card-header">
        <p><%= comment.created_at.strftime("%d/%m/%Y") %></p>
      </div>
      <div class="card-description">
        <p class="forum-content"><%= comment.content %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div class="card-description">
        <p class="forum-link"><%= link_to "#{comment.link}", "#{comment.link}" , target: "_blank" %></p>
      </div>
      <p class="signature"><%= comment.user.email %></p>
    </div>
  </div>
</div>
<hr>
