<div class="page-title top">
  MODERN BOX SHOP
</div>
<div class="banner">
  <div class="banner-content">
    <% @shops.each do |shop|%>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="id-card">
          <%= link_to shop do %>
            <%= cl_image_tag shop.photo, height: 250, width: 250, crop: :fill, class: "img-responsive id-pic" %>
          <% end %>
          <div class="details">
            <h2>-<%= shop.product.capitalize %>-</h2>
            <h2><%= shop.price %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
