<h5 class="negative top">
  SHOP
</h5>
<div class="container">
  <div class="information">
    <h5>Welcome!</h5>
    <h5>Perform an action</h5>
    <h5>and get into modern box records' network </h5>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-12 col-md-4 col-lg-3">
      <% @shops.each do |s|%>
        <%= render "shop", shop: s %>
      <% end %>
    </div>
  </div>
</div>
