<div class="white"></div>
<div class="container search">
  <div class="page-title-search">
    MODERN BOX SHOP
  </div>
</div>
<div class="banner">
  <div class="container banner-content">
    <% @shops.each do |shop|%>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="id-card">
          <%= link_to shop do %>
            <%= cl_image_tag shop.photo, height: 250, width: 250, crop: :fill, class: "img-responsive id-pic" %>
          <% end %>
          <div class="details"><%= shop.product.capitalize %></div>
          <% if shop.price.present? %>
            <div class="details"><%= shop.price %>Euros H.T</div>
          <% else %>
            <div class="details">Nous consulter</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
