.action {
  margin-top: 50px;
}

.actions{
  font-size: 20px;
  text-align: center;
  font-color:#606668;
}

.action-card{
  height: 320px;
  margin-top : 40px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.id-card:hover{
  cursor: pointer;
}
