.action {
  margin-top: 50px;
}

.advertisement{
  background: radial-gradient(white, grey);
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding-bottom :3px;
  margin-bottom: 15px;
  color: #F4F4F4;
  h5{
    color: #606668;
  }
}

.actions{
  font-size: 20px;
  text-align: center;
  padding-bottom: 16px;
  font-color:#606668;
}

.grey {
  color:#606668;
}

