.concept-section-title{
  color: $black;
  font-size: 24px;
}

.concept-card{
  background-color: black;
  margin: 3px;
  border-radius: 3px;
}

.concept-card-title{
  color: #99a2ae;
  font-size: 14px;
  margin: 14px 10px 14px 10px;
}

.concept-card-details{
  color: white;
  font-size: 10px;
  margin: 10px;
}

.concept-card-action{
  text-align: center;
}

.concept-card-image{
  height: 100%;
}

.small-card{
  font-size: 10px;
}
