.banner {
  color: black;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 2px rgba(250, 250, 250, 0.4);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  opacity: 0.6;
  margin-bottom: 30px;
}

hr{
  margin-top: 10px;
  height: 2px;
  background-color: $blue;
  border: none; /*on supprime le style par défaut*/
}

.separation{
  margin-top: 10px;
  margin-left: 0px;
  height: 2px;
  background-color: #8B8B8B;
  width: 35%;
  border: none;
}

.front{
  padding-top: 80px;
}

.hook:hover{
  color: white;
  text-decoration: none;
}

.copyright{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.home-title{
  color: white;
  font-size: 30px;
}

.section{
  background-color: white;
  height: 2px;
}

.section-title-left{
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.section-title-right{
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.last-news-card:hover{
  background-color: #0E1219;
}

.last-news-title{
  color: white;
  font-weight: bolder;
  font-size : 20px;
  margin-bottom: 10px;
}

.last-news-edition{
  color: white;
  font-size: 14px;
}

.last-news-description{
  color: white;
  font-size: 16px;
}

.news-content-link{
  color: $blue;
  opacity: 0.8;
  font-size: 14px;
}

.news-content-link:hover{
  color: $blue;
  font-size: 14px;
  cursor: pointer
}

.last-news-segment{
  height: 1px;
  background-color: white;
  border: none; /*on supprime le style par défaut*/
}

.videos-samples{
  padding-bottom: 20px;
}

.releases-samples{
  padding-bottom: 20px;
}

.artists-samples{
  padding-bottom: 20px;
}

.line{
  padding-top: 14px;
  padding-bottom: 14px;
}

