.banner-home {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
}

.banner {
  padding-top: 50px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

hr{
  margin-top: 10px;
  height: 2px;
  background-color: $green;
  border: none; /*on supprime le style par défaut*/
}

.front{
  padding-top: 80px;
}

.hook:hover{
  color: white;
  text-decoration: none;
}

.copyright{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.section-title-left{
  color: $green;
}

.section-title-right{
  color: white;
  background-color: $green;
  font-size: 24px;
  opacity: 0.7;
  padding-left: 10px;
}

.last-news-card:hover{
  background-color: $light-gray;
  border-radius: 10px;
}

.last-news-title{
  color: $black;
  font-weight: bolder;
}

.last-news-edition{
  color: #8B8B8B;
  font-size: 14px;
}

.last-news-description{
  color: $black;
  font-size: 16px;
}

.news-content-link{
  color: $green;
  opacity: 0.8;
  font-size: 14px;
}

.news-content-link:hover{
  color: $green;
  font-size: 14px;
  cursor: pointer
}

.last-news-segment{
  margin-top: 10px;
  height: 1px;
  background-color: $black;
  border: none; /*on supprime le style par défaut*/
}

.videos-samples{
  padding-bottom: 20px;
}

.releases-samples{
  padding-bottom: 20px;
}

.artists-samples{
  padding-bottom: 20px;
}

