.banner-home {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
}

.banner {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

hr{
  margin-top: 10px;
  height: 2px;
  background-color: $blue;
  border: none; /*on supprime le style par défaut*/
}

.separation{
  margin-top: 10px;
  margin-left: 0px;
  height: 2px;
  background-color: $blue;
  width: 35%;
  border: none;
}

.front{
  padding-top: 80px;
}

.hook:hover{
  color: white;
  text-decoration: none;
}

.copyright{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.section-title-left{
  color: $blue;
}

.section-title-right{
  color: white;
  background-image: linear-gradient(-270deg, $black, white);
  font-size: 24px;
  padding: 4px 8px;
  font-weight: lighter;
  border-radius: 4px;

}

.last-news-card:hover{
  background-color: #FAFAFB;
  border-radius: 10px;
}

.last-news-title{
  color: $black;
  font-weight: bolder;
}

.last-news-edition{
  color: #8B8B8B;
  font-size: 14px;
}

.last-news-description{
  color: $black;
  font-size: 16px;
}

.news-content-link{
  color: $blue;
  opacity: 0.8;
  font-size: 14px;
}

.news-content-link:hover{
  color: $blue;
  font-size: 14px;
  cursor: pointer
}

.last-news-segment{
  margin-top: 10px;
  height: 1px;
  background-color: $black;
  border: none; /*on supprime le style par défaut*/
}

.videos-samples{
  padding-bottom: 20px;
}

.releases-samples{
  padding-bottom: 20px;
}

.artists-samples{
  padding-bottom: 20px;
}

