.introduction {
  padding-top:140px;
  padding-bottom: 70px;
  background-color: #1c1c1c;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallpaper-links{
  font-size: 40px;
  text-align: center;
  justify-content: space-between;
  color: rgb(0, 167, 255);
}

.page-title{
  font-size: 40px;
  font-weight: lighter;
  color: #F4F4F4;
  text-shadow: 2px 3px #606668;
  text-align: center;
  padding-bottom: 30px;
}

.mep{
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 24px;
  background: linear-gradient(to bottom right, white, #606668);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    p{
    text-align: center;
  }
}
.mep:hover{
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 24px;
  background: linear-gradient(to bottom left, white, #606668);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.samples{
  margin-top: 20px;
  margin-bottom: 30px;
}

.info-intro{
  height: 80px;
  background: linear-gradient(to right, #D1D1D1, #FFFFFF);
  text-align: center;
    h1 {
      color: #606668;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 !important;
      padding-top: 6px;

  }
}
