.show-wallpapers{
  background-image: linear-gradient(-180deg, black, #34455E);
  margin-top: -60px;
}

.profil-page{
  padding-top: 60px;
}

.profil-details{
  font-size: 14px;
}

.head{
  margin-top:10px;
}

.profil-title{
  font-size: 20px;
  color: #99a2ae;
}

.quality{
  text-align: center;
}
