.index-wallpapers{
  background-image: linear-gradient(-180deg, black, #34455E);
}

.index-page{
  margin-top: 60px;
}

.index-wallpapers-videos{
  background-image: linear-gradient(-180deg, black, #34455E);
  margin-top: -26px;
}
