.concept-section-title{
  color: $black;
  font-size: 24px;
}

.concept-card{
  background-color: white;
  margin: 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #99a2ae;
  margin-bottom: 50px;
}

.concept-card-title{
  text-align: center;
  color: #99a2ae;
  font-size: 14px;
  margin: 14px 10px 14px 10px;
}

.concept-card-details{
  padding-bottom: 10px;
  text-align: center;
  color: $black;
  font-size: 10px;
  margin: 10px;
}

.concept-card-action{
  text-align: center;
}

.concept-card-image{
  height: 100%;
}

.small-card{
  font-size: 10px;
}

.call-to-action{
  text-align: center;
  color: white;
}

.blue{
  color: #00607d;
}

.red{
  color: #E0422C;
}

.green{
  color: #64D045;
}

.rock-map-slogan{
  background-color: #AEB6C0;
  border-radius: 3px;
  box-shadow: 0px 3px, #99a2ae;
  margin-bottom: 20px;
}

.rock-map-slogan:hover{
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 3px, #99a2ae;
  margin-bottom: 20px;
}

.slogan{
  font-size: 15px;
  color: $black;
  text-align: center;
}

.rock-map-wallpapers{
  background-color: black;
}
