<%= render 'shared/topic_search' %>
<div class="page-title-search top">
  MUSIC MATCH SALONS
</div>
<div class="banner">
  <div class="banner-content">
    <!--section d'ensemble-->
    <div class="container items">
      <div class="row">
        <% if @topics.present? %>
          <% @topics.each do |a|%>
                <%= render "topic", topic: a %><br>
          <% end %>
        <% else %>
          <%= render 'shared/no_result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
