<div class="index-wallpapers">
  <div class="search">
    <%= render 'shared/topic_search' %>
  </div>
  <div class="index-page">
    <div class="container">
      <div class="row">
        <% if @topics.present? %>
          <% @topics.each do |a|%>
            <%= render "topic", topic: a %><br>
          <% end %>
        <% else %>
          <%= render 'shared/no_result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
