<% if @artists.present? %>
  <div class="col-lg-12 matches">
    <p>Les Groupes avec lesquels jouer</p>
    <hr class="user">
    <% @artists.each do |a|%>
      <% if current_user.genres.include?(a.genre) && current_user.counties.include?(a.county)%>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="main">
            <div class="card">
              <%= render "artists/artist", artist: a %><br>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @releases.present? %>
  <div class="col-lg-12 matches">
    <p>Les prods à écouter</p>
    <hr class="user">
    <% @releases.each do |release|%>
      <% if current_user.genres.include?(release.genre)%>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="main">
            <div class="card">
              <%= render "releases/release", release: release %><br>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @places.present? %>
  <div class="col-lg-12 matches">
    <p>Les Salles où jouer ou voir des concerts</p>
    <hr class="user">
    <% @places.each do |a|%>
      <% if current_user.counties.include?(a.county) %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="main">
            <div class="card">
              <%= render "places/place", place: a %><br>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @assos.present? %>
  <div class="col-lg-12 matches">
    <p>Les Structures utiles</p>
    <hr class="user">
    <% @assos.each do |a|%>
      <% if current_user.counties.include?(a.county) %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="main">
            <div class="card">
              <%= render "assos/asso", asso: a %><br>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>





