<div class="top-artists">
  <h2 class="negative">
    ACTIONS
  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-2 col-xs-offset-4">
      <div class="action"></div><br>
        <%=link_to "créer artiste", new_artist_path %>
    </div>
    <div class="col-md-offset-1 col-md-2 col-xs-offset-4">
      <div class="action"></div><br>
        <%=link_to "créer release", new_release_path %>
    </div>
    <div class="col-md-offset-1 col-md-2 col-xs-offset-4">
      <div class="action"></div><br>
        <%=link_to "créer concert", new_performance_path %>
    </div>
    <div class="col-md-offset-1 col-md-2 col-xs-offset-4">
      <div class="action"></div>
    </div>
  </div>
</div>
