<div class="negative top">
  <div class="search search-fixed">
    <%= form_tag(artists_path, method: :get) do %>
      <%= text_field_tag :search, nil, placeholder: "Recherche d'artistes avec Music Match de Modern Box Records", class: "form-control" %>
      <%= submit_tag 'Search', style: "display: none;" %>
    <% end %>
  </div>
</div>
