<div class="negative top">
  <div class="search search-fixed">
    <%= form_tag(assos_path, method: :get) do %>
      <%= text_field_tag :search, nil, placeholder: "Trouver structures par nom, ville, activité principale, style musical", class: "form-control" %>
      <%= submit_tag 'Search', style: "display: none;" %>
    <% end %>
  </div>
</div>
