<div class="search-fixed">
  <%= form_tag(assos_path, method: :get) do %>
    <%= text_field_tag :search, nil, class: "form-control", placeholder: raw("&#xF002;"), style: "font-family: 'FontAwesome';" %>
    <%= submit_tag 'Search', style: "display: none;" %>
  <% end %>
</div>
