<div class="container footer footer-fixed">
  <%= link_to artists_path do %>
    <i class="fa fa-users"></i>
  <% end %>
  <%= link_to releases_path do %>
    <i class="fa fa-caret-square-o-right"></i>
  <% end %>
  <%= link_to performances_path do %>
    <i class="fa fa-heartbeat"></i>
  <% end %>
  <%= link_to assos_path do %>
    <i class="fa fa-share-alt"></i>
  <% end %>
</div>

