<div class="footer footer-fixed">
  <%= link_to artists_path do %>
    <i class="fa fa-users networknav"></i>
  <% end %>
  <%= link_to releases_path do %>
    <i class="fa fa-music networknav"></i>
  <% end %>
  <%= link_to performances_path do %>
    <i class="fa fa-beer networknav"></i>
  <% end %>
</div>

