<div class="wallpaper-links">
  <a href="https://www.facebook.com/modernboxrecords/?ref=br_rs" target = "_blank"><i class="fa fa-facebook-square wallpaper-links" aria-hidden="true"></i>
  <a href="https://www.instagram.com/modernboxrecords/" target = "_blank"><i class="fa fa-instagram wallpaper-links" aria-hidden="true"></i>
  <a href="https://soundcloud.com/modern-box" target = "_blank"><i class="fa fa-soundcloud wallpaper-links" aria-hidden="true"></i>
  <a href="https://www.youtube.com/channel/UCD-V4n6eugETPlfr16DqM_Q?view_as=subscriber" target = "_blank"><i class="fa fa-youtube-square wallpaper-links" aria-hidden="true"></i>
  <a href="https://twitter.com/Modern_box_rec" target = "_blank"><i class="fa fa-twitter-square wallpaper-links" aria-hidden="true"></i>
</div>
