<div class="negative top">
  <div class="search search-fixed">
  <%= form_tag(releases_path, method: :get) do %>
    <%= text_field_tag :search, nil, placeholder: "Recherche prods (ahahah)", class: "form-control" %>
    <%= submit_tag 'Search', style: "display: none;" %>
  <% end %>
  </div>
</div>
