<div class="negative top">
  <div class="search search-fixed">
    <%= form_tag(topics_path, method: :get) do %>
      <%= text_field_tag :search, nil, placeholder: "Music Match par catégorie, titre de sujet ou les 2", class: "form-control" %>
      <%= submit_tag 'Search', style: "display: none;" %>
    <% end %>
  </div>
</div>
