<%= simple_form_for [artist, rating], defaults: { label_html: { class: 'labels' } }, remote: true do |f| %>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 ">
    <%= f.input :star, required: false, collection: 1..5, placeholder: 'how many stars?' %>
    <%= f.input :one_word, required: false, placeholder: 'Just one word'%>
    <%= f.button :submit, class: "btn btn-medium" %>
  </div>
<% end %>
