<div class="front">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/da2krghvd/image/upload/s--FcDaVp61--/q_jpegmini/v1510239252/r8xviqlxqhc34kcm0km6.png);">
    <div class="banner-content">
      <div class="slogan">
        <h3 class="hook">//A ROCK LABEL THAT CARE ABOUT THE SCENE\\</h3>
        <h5><br>
          Modern box records is a ROCK Label & a growing network <br> where you can create your own band, releases, shows or booking activity <br> sharing the links to your official pages <br> since you're involved in any kind of rock.
        </h5>
        <%= render'shared/links' %>
          <br>
        <%= link_to 'sign in MBR', new_user_session_path, class: "btn btn-medium" %>
        <%= link_to 'learn more', pages_how_it_works_path, class: "btn btn-medium" %>
      </div>
        <br>
      <div class="copyright">
        © Modern Box Records, All Rights Reserved.
      </div>
    </div>
  </div>
</div>

