<div class="front">
  <div class="page-title">BRAND NEW STUFF</div>
  <div class="container billboard">
    <% @actus.each do |actu|%>
      <%= link_to actu do %>
        <%= cl_image_tag actu.photo, height: 545, crop: :fit, class: "style_image img-responsive" %>
      <% end %>
    <div class="copyright">
      <p>© Modern Box Records, All Right Reserved</p>
    </div>
  <% end %>
  <audio controls src="http://res.cloudinary.com/da2krghvd/video/upload/v1517266081/02_-_Don_t_Ask_xb5jkr.mp3"></audio>

</div>
