<div class="front">
  <div class="page-title">BRAND NEW STUFF</div>
  <div class="container billboard">
    <% @actus.each do |actu|%>
      <%= link_to actu do %>
        <%= cl_image_tag actu.photo, height: 545, width: 545, crop: :fill, class: "style_image img-responsive" %>
      <% end %>
    <div class="copyright">
      <p>© Modern Box Records, All Right Reserved</p>
    </div>
  <% end %>
</div>
