<div class="banner" style="background-image:url(https://res.cloudinary.com/da2krghvd/image/upload/v1505755372/corey-blaz-5003_sp9w4e.jpg)">
  <div class="banner-content">
    <h1 id="title">Modern Box<br>Records</h1>
      <p>Tune makers, Place owners & Party lovers</p>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "call-to-action btn-medium btn" %>
    </div>
  </div>
</div>
<div class="top-artists">
  <h2 class="negative">
    LABEL
  </h2>
</div>
<div class="container">
  <div class="introduction">
  </div>
  <div class="row">
      <div class="col-md-12">

      <h2 class="text-center">Modern Box Records</h2><br>
        <h4 class="text-center"> <small>Chez Modern Box Records, on aime le son sans concession, énergique et résolument rock!<br> Sensibles à ce qui fait de la musique une véritable langue vivante, notre direction artistique s'inscrit dans l'essence du rock  <br> C'est pourquoi, l'innovation et l'authenticité sont des constantes dans nos recherches d'artistes <br>Enfin, nous avons un goût assumé pour les petites formations mais ne faisons aucune discrimination </small></h4>
        <hr>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/3ohhwsl72MbkiZ65Fu/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>Deviens membre!</h3>
          <p>Accède à notre base de données et deviens un membre encore plus actif de la scène rock</p>
            <%= link_to "Devenir membre", new_user_session_path, class: "btn btn-default btn-block" %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/3oKGzdryxKlE3gnly8/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>Inscris ton groupe!
          </h3>
          <p>Les membres peuvent consulter des profils et organiser des concerts ou faire des trocs de savoir-faire</p>
            <%= link_to "Inscrire son groupe", new_user_session_path, class: "btn btn-default btn-block" %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/dM2xuxnJCg4H6/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>Diffuse ton image!
          </h3>
          <p>Les membres peuvent consulter tes réseaux sociaux, liens vidéo, sites web et acheter ton mersh</p>
          <%= link_to "Network", new_user_session_path, class: "btn btn-default btn-block" %>
        </div>
      </div>


  </div>
  </div>
  <div class="introduction">
</div>



