<div class="wallpaper" style="background-image:url(https://res.cloudinary.com/da2krghvd/image/upload/s--8nxi3HAK--/q_jpegmini/v1505755372/corey-blaz-5003_sp9w4e.jpg)">
  <div class="wallpaper-content">
    <h1 id="title">Modern Box<br>Records</h1>
      <p>Tune makers & Party lovers</p>
      <div class="row">
        <div class="col-lg-6 col-sm-6">
      <%= link_to t(".sign_in"), new_user_registration_path, class: "call-to-action btn-medium btn" %>
        </div>
        <div class="col-lg-6 col-sm-6">
      <%= link_to t(".actions", default: "Actions"), action_users_path, class: "call-to-action btn-medium btn" %>
        </div>
      </div>
      <br>
      <div class="wallpaper-links">
        <a href="https://www.facebook.com/modernboxrecords/?ref=br_rs" target = "_blank"><i class="fa fa-facebook-square wallpaper-links" aria-hidden="true"></i>
        <a href="https://www.instagram.com/modernboxrecords/" target = "_blank"><i class="fa fa-instagram wallpaper-links" aria-hidden="true"></i>
        <a href="https://soundcloud.com/modern-box" target = "_blank"><i class="fa fa-soundcloud wallpaper-links" aria-hidden="true"></i>
        <a href="https://www.youtube.com/channel/UCD-V4n6eugETPlfr16DqM_Q?view_as=subscriber" target = "_blank"><i class="fa fa-youtube-square wallpaper-links" aria-hidden="true"></i>
        <a href="https://twitter.com/Modern_box_rec" target = "_blank"><i class="fa fa-twitter-square wallpaper-links" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>




