<div class="banner" style="background-image:url(https://res.cloudinary.com/da2krghvd/image/upload/v1505755372/corey-blaz-5003_sp9w4e.jpg)">
  <div class="banner-content">
    <h1 id="title">Modern Box<br>Records</h1>
      <p>Tune makers, Place owners & Party lovers</p>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "call-to-action btn-medium btn" %>
    </div>
  </div>
</div>



