<div class="front">
  <div class="container billboard">
    <%= cl_image_tag("face_a__one_zn6mnz.jpg", height: 550, crop: :fit, class: "style_image img-responsive") %>
  </div>
  <div class="container billboard">
    <%= cl_image_tag("face_a__two_rnmklx.jpg", height: 550, crop: :fit, class: "style_image img-responsive")%>
  </div>
  <div class="container billboard">
    <%= cl_image_tag("face_a__three_pj1zbv.jpg", height: 550, crop: :fit, class: "style_image img-responsive") %>
  </div>
</div>
