<div class="top-artists">
  <h2 class="negative">
    LABEL
  </h2>
</div>
<div class="container">
  <div class="introduction">
  </div>
  <div class="row">
      <div class="col-md-12">

      <h2 class="text-center">Modern Box Records</h2><br>
        <h4 class="text-center"> <small>Jusqu'alors, les labels devaient concevoir, produire et assurer la promotion d'un artiste<br> L’artiste produisait ses titres dans les locaux du label<br> Et quand ça l'faisait l'artiste pouvait à envisager un avenir un peu plus cool...grosso merdo! <br>Mais ça, c'était avant... genre XXeme siècle</small></h4>
        <hr>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/3ohhwsl72MbkiZ65Fu/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>S'inscrire</h3>
          <p>C'est avant tout obtenir une visibilité supplémentaire et entrer dans un des réseaux actifs du rock! </p>
          <button type="button" class="btn btn-default btn-block">Inscrire son activité</button>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/3oKGzdryxKlE3gnly8/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>Canal de diffusion
          </h3>
          <p>Réseaux, Chaîne, Concerts et Sélection Modern Box Records permettront de créer votre public</p>
          <button type="button" class="btn btn-default btn-block">Regarder ce qu'il se passe</button>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <div class="well">
          <img src="https://media.giphy.com/media/dM2xuxnJCg4H6/giphy.gif" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          <h3>Vendre votre mersh
          </h3>
          <p>Sur Modern Box Record on peut vendre son mersh, sa musique et ses dispos pour dates en 2 clicks</p>
          <button type="button" class="btn btn-default btn-block">Renseigner ses dispos</button>
        </div>
      </div>


  </div>
  </div>
  <div class="introduction">
    <div class="question">
      C'est quoi ce label?
    </div>
    <div class="answer">
      La révolution numérique c'est cool mais pas tant que ça ; on peut tous, tout faire de chez soi, sauf... des concerts !!! <br> Les artistes et professionnels de la musique sont pris de vitesse à mesure que les auditeurs changent leur manière de la consommer.<br>Conséquences >>> beaucoup de pures moments de rock'n'roll ne sortiront pas de 4 petits murs, d'un petit réseau d'amis facebook, et d'un seul home studio<br> Chez Modern box records, c'est simple!!! On sait que ça doit aller vite et que le moteur de la création artistique, c'est la création du public<br>Alors, on voit pas 36 solutions
    </div>
    <div class="solution">
      Passe chez Modern box records et atteinds ton audience
    </div>
  </div>
</div>



