<div class="index-wallpapers">
  <div class="container">
    <h1 class="page-title-search" style="color: white; padding-top: 24px;">
      MODERN BOX NEWS
    </h1>
  </div>
  <div class="index-page">
    <div class="container">
      <div class="row">
        <% @actus.each do |actu|%>
          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <div class="id-card">
             <%= link_to actu do %>
                <%= cl_image_tag actu.photo, height: 250, width: 250, crop: :fill, class: "img-responsive id-pic" %>
              <% end %>
            </div>
            <div class="details"><%= actu.title.capitalize %></div><br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <%= render 'shared/footer' %>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8667629867832326",
    enable_page_level_ads: true
  });
</script>
