<div class="notifications row">
  <div class="heading clearfix">
    <h3 style= "text-align: center;">VOS NOTIFICATIONS</h3>
    <h4 style= "text-align: center;">
      <%= link_to 'Effacer les notifications', notifications.clean_notifications_path, class: 'tab btn btn-medium', method: 'delete' %>
    </h4>
  </div>
  <div class="list">
    <% if @notifications.blank? %>
      <div class="no-records">Pas de Notification</div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <div class="group-title"><%= group %></div>
          <%= render notifications %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @notifications %>
</div>
