.alert {
  z-index: 3;
  height: 100px;
  text-align: center;
  justify-content: center;
  color: white;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
}
.alert-info {
  background: $blue;
}
.alert-warning {
  background: $black;
}
.message{
  padding-top: 20px;
}
