.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.banner-home {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.slogan{
  padding-top: 100px;
}
