.bottom-nav{
  transition: all 0.3s ease;
  display: flex;
  height: 50px;
  padding: 0px 0px;
  padding-top: 4px;
  justify-content: space-between;
  position: relative;
  background: black;
}

.bottom-nav-fixed {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100vw;
}

.network-nav{
  color: white;
  font-size: 24px;
}

.network-nav:hover{
  color: #262626;
  text-decoration: none;
}

.bottom-nav-legends{
  transition: all 0.3s ease;
  display: flex;
  height: 16px;
  padding: 0px 0px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #FFFFFF;
}


.bottom-nav-fixed-legends {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100vw;
}

.bottom-nav-text{
  font-size: 12px;
  color: white;
}

a:hover{
  text-decoration: $blue;
}

