.btn-medium {
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: lighter;
  background-image: linear-gradient(-180deg, $black, $blue);
  margin-bottom: 5px;
  margin-top: 5px;
  transition: background 0.3s ease;
}

.btn-medium:hover {
  opacity: 1;
  background: white;
  text-decoration: none;
  color: #3C3C3C;
}

.btn-medium-white {
  color: $black;
  padding: 5px 20px;
  border-radius: 3px;
  font-weight: lighter;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: background 0.3s ease;
}

.btn-medium-white:hover {
  opacity: 1;
  background: $blue;
  text-decoration: none;
  color: white;
}

.social-network{
  background-color: white;
  border-radius: 3px;
  margin-bottom: 5px;
  box-shadow: 2px 4px $black;
}


.url{
  color: $black;
  font-size: 10px;
}

.social-links{
  color: #696969;
}

.fa-facebook-square:hover{
  color: #4267B1;
}

.fa-instagram:hover{
  color: $black;
}

.fa-soundcloud:hover{
  color: #EE512F;
}
.fa-twitter:hover{
  color: #34A1F2;
}

.fa-youtube-play:hover{
  color: #ED462F;
}

.fa-bandcamp:hover{
  color: #639AA9;
}
.modal-trigger:hover{
  cursor: pointer;
}

.icon{
  font-size: 20px;
  margin-top: 3px;
  margin-right: 3px;
}

.bin{
  position: absolute;
  right: 3px;
}

.validate{
  text-align: right;
}

.user-preference{
  background-color: #b7b7b7;
  color: $black;
  border-radius: 3px;
  margin-bottom: 6px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover{
   background-color: #3EA2F5;
   color: white;
  }
}

.clickable{
  cursor: pointer;
}

.btn-large-white {
  color: $black;
  padding: 5px 20px;
  border-radius: 3px;
  font-weight: lighter;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: background 0.3s ease;
  width: 100%;
  &:hover{
  opacity: 1;
  background: $blue;
  text-decoration: none;
  color: white;
  }
}
