.form{
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.title{
  color: white;
  font-size: 50px;
  font-weight: bold;
  color: #E9ECF9;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px black, 0 0 25px #606668, 0 0 5px #606668;
  text-align: center;
}

.list{
  color: #F4F4F4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.labels{
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px black, 0 0 25px #606668, 0 0 5px #606668;
}

.group{
  text-align: center;
  background-color: white;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-inputs{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}
.box{
  text-align: center;
}

.press{
  margin-bottom: 30px;
}

.in{
  margin-top: 140px;
  margin-bottom: 100px;
}

.subscribe{
  margin-left: 100px;
}
