.modal{
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal-title{
  font-size: 26px;
  color: white;
  text-align: center;
}

.modal-content{
  background-image: linear-gradient(-180deg, black, #34455E);
  border: 1px solid rgb(215, 215, 215);

}

.fade{
  margin-top: 0px;
  margin-bottom: 0px;
}

.connection{
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-secondary{
  color: $black;
  justify-content: center;
  text-align: center;
}

