.modal{
  margin-top: 0px;
  margin-bottom: 0px;
}

.fade{
  margin-top: 0px;
  margin-bottom: 0px;
}

.connection{
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-title{
  color: $black;
  text-align: center;
}

.btn-secondary{
  color: $black;
  justify-content: center;
  text-align: center;
}
