.navbar-wagon{
  transition: all 0.3s ease;
  display: flex;
  height: 100px;
  padding: 0px 0px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #FFFFFF;
}

.navbar-wagon-fixed {
  z-index: 2;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
}

.navbar-item {
  cursor: pointer;
  padding: 0 30px;
}

/* Left section */
.dropdown-toggle {
  padding-top: 10px;
  font-size: 40px;
  font-weight: lighter;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: bold !important;
  color: #616668 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: $black !important;
  color: #35aafb !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  left: 10px;
  top: -6px;
  background-color: #616668;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 30px;
  box-shadow: 1px 1px 4px #616668;
  border-color: #616668;
  background-color: #ffffff;
}
/* Logo */
.logo img {
  height: 100px;
}
.logo-name{
  text-align: center;
}
/* Right section */

.navbar-wagon-link {
  color: #616668;
  font-size: 34px;
}

#home{
  font-size: 40px;
}

#admin{
  color: $black;
}
