.log{
  margin-bottom: 30px;
  text-align: center;
  color: $black;
}

.log-step{
  margin-bottom: 50px;
  text-align: center;
  color: $black;
}
.log-option{
  text-align: center;
  color: $black;
}

.log-inputs{
  color: white;
}

.login-background{
  background-image: linear-gradient(-180deg, $black, $blue);
 }

