.log{
  text-align: center;
  color: $black;
}

.log-step{
  margin-bottom: 50px;
  text-align: center;
  color: $black;
}
.log-option{
  text-align: center;
  color: $black;
}

.log-inputs{
  color: white;
}
