.log{
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

.log-step{
  margin-bottom: 50px;
  text-align: center;
  color: white;
}
.log-option{
  text-align: center;
  color: white;
}

.log-inputs{
  color: white;
}

.login-background{
  margin-top: 140px;
  margin-bottom: 100px;
  border: 1px solid rgb(215, 215, 215);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  background-color: black;
 }

.notifications-number{
  text-align: center;
  margin-bottom: 30px;
}
