.tab{
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: lighter;
}

.tab:hover{
  color: white;
  background-color: #4360B5;
  border: 2px solid #4360B5;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
  font-weight: lighter;
}


.tab-fake{
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: lighter;
}

