.tabs {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 0, 59, 1));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  padding: 30px;
  border-radius: 8px;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  color: white !important;
  flex: 1 1 auto;
  text-align: center;
  padding: 20px 0;
}

.tab.active {
  color: #E9ECF9;
}
.tab-content {
  padding-top: 50px;
  margin-top: 15px;

}
