body{
  background-color: rgb(245, 245, 245);
}

.top{
  padding-top: 100px;
  color: #F4F4F4;
  background: linear-gradient(#B1B4B5, #0E0E0E);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

