.top{
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(96,102,104,1));
}



.negative{
  color: White;
  font-family: impact;
  text-align: center;
  font-size: 70px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(96,102,104), 0 0 5px rgb(96,102,104);

}

