body{
  background-color: white;
}
.top-title{
  color: #F4F4F4;
}

.page-title{
  font-size: 30px;
  font-weight: lighter;
  color: $black;
  padding-bottom: 5px;
}

.page-title-search{
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  color: $black;
  padding-bottom: 5px;
}

.white{
  padding-top: 60px;
  background-color: white;
  border: 1px solid gray;
  z-index: 1;
}
