<div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 social-network">
  <% if @asso.facebook_page.present? %>
    <div class="url modal-trigger">
      <i class="fa fa-facebook-square social-links icon" data-toggle="modal" data-target="#fb"></i>
      <%= link_to @asso.facebook_page, class: "social-links", target: :blank do %>
        <%= "#{@asso.facebook_page}" %>
      <% end %>
    </div>
  <% else %>
    <div class="url modal-trigger" data-toggle="modal" data-target="#fb">
    <i class="fa fa-facebook-square social-links icon"></i>
      Cliquez ici pour ajouter Facebook
    </div>
  <% end %>
</div>

