<%= render'shared/asso_search' %>
<div class="page-title-search top">
  MUSIC MATCH STRUCTURES
</div>
<h5 class="advice">Pour lancer une recherche en fonction de l'activité, les mots clés sont les suivants:<br>Studio de répétition, Magasin de musique, Studio d'enregistrement,<br> Production audiovisuelle, Label, Communication, Polyvalent, Radio et Location de backline</h5>

<div class="banner">
  <div class="banner-content">
    <!--section d'ensemble-->
    <div class="container items">
      <div class="row">
        <% if @assos.present? %>
          <% @assos.each do |a|%>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="main">
                <div class="card">
                  <%= render "asso", asso: a %><br>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= render 'shared/no_result' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
