<%= render'shared/asso_search' %>
<div class="banner">
  <div class="banner-content">
    <div class="advice" style="color: black">Pour lancer une recherche en fonction de l'activité, les mots clés sont les suivants:<br>
    rehearsal, music store, recordings, music video making, web communication, label, radio et multipurpose</div>
    <!--section d'ensemble-->
    <div class="container items">
      <div class="row">
        <% if @assos.present? %>
          <% @assos.each do |a|%>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <div class="main">
                <div class="card">
                  <%= render "asso", asso: a %><br>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
        <div class="no-result" style="color: black">
          sorry! but no result were found!
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
