<% content_for(:title_tag) do %>
  -<%= @performance.artist.name %>- on Modern Box Records
<% end %>
<%= render 'shared/performancecard' %>

<div class="option">
  <% if @performance.artist.user == current_user  %>
    <%= link_to t(".update", default: "Update performance"), edit_performance_path, class: "call-to-action btn-medium btn" %>
  <% end %>
</div>
